<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <logName value="Application"/>
      <applicationName value="HDBrowser"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="Time:   %d{yyyy-MM-dd HH:mm:ss,fff}
Level:  %-5p
Thread: %t
Logger: %c
Message:
%m"/>
      </layout>
      <threshold value="ERROR"/>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="logs\HDBrowser.Client.log"/>
      <appendToFile value="false"/>
      <maximumFileSize value="3MB"/>
      <maxSizeRollBackups value="10"/>
      <datePattern value=".yyyyMMdd"/>
      <rollingStyle value="Size"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss,fff}] %-5p [%t] %c - %m%n"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <LoggerToMatch value="HdBrowser"/>
        <AcceptOnMatch value="true"/>
      </filter>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <LoggerToMatch value="WooYek"/>
        <AcceptOnMatch value="true"/>
      </filter>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <LoggerToMatch value="NHibernate.Loader"/>
        <AcceptOnMatch value="false"/>
      </filter>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFile"/>
      <appender-ref ref="EventLogAppender"/>
    </root>
  </log4net>
</configuration>